.signUpContainer{
    background-color: antiquewhite;
    text-align: center;

    align-items: center;
    border-radius: 10px;
    padding: 50px;
    width: fit-content;
    margin: 0 auto;
    font-size: large;
    box-shadow: 10px 10px 8px #888888;
}

.signUpPage{
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 100vh;
    background-color: aliceblue;

}

.signUpTitle{
    float: left;
    margin: auto;
    max-width: 400px;
    font-size: x-large;
    margin-top: 15%; 
    padding: 20px;
    border-radius: 10px;
}

.signUpTitle h1{
    color: crimson;
    text-shadow: 2px 2px rosybrown;
}

.signUpTitle p{
    color: black;
    font-size: large;
    
}


.signUpButton {
    padding: 20px;
}

.inputContainer {
    display:flex; 
    flex-direction:row;
}

.checkContainer {
    margin-left: 20px;
    margin-top: 45%;
    height: 20%;
}