.contactImage{
    vertical-align: middle;
}
.header {
    vertical-align: middle;
    height: 33px;
}

.header p {
    margin: auto;
    padding: 16px 7px;
    font-weight: bold;
}

.returnDiv {
    position: relative;
    height: 58px;
    border-bottom: 3px solid #bbb;
}