.contactItem{
    width: 100%;
    max-height: 100px;
    background-color: gainsboro;
    padding: 2px;
}

.contactImage{
    padding: 2px;
    width: 50px;
    height: 50px;
    word-wrap: normal;
    float: left;
}

.contactName{
    font-weight: bold;
    max-height: 50px;
    margin: 0;
}

.contactText{
    padding: 2px;
    margin: 0;
}

hr {
    border-top: 3px solid #bbb;
    margin: 0;
}