.contactItem{
    width: 100%;
    height: 58px;
    background-color: #F1FAEE;
    padding: 2px;
    transition-property: background-color;
    border-bottom: 3px solid #bbb;
    border-right: 3px solid #bbb;
}

.contactItem:hover{
    background-color: #D6DEDE;
    cursor: pointer;
}

.contactImage{
    padding: 4px;
    width: 50px;
    height: 50px;
    word-wrap: normal;
    float: left;
}

.contactName{
    font-weight: bold;
    max-height: 50px;
    margin: 0;
}

.contactText{
    padding: 2px;
    margin: 0;
}

hr {
    border-top: 3px solid #bbb;
    margin: 0;
}

.bottomBar {
    float: bottom;
}