.contactItem{
    width: 100%;
    height: 300px;
    background-color: gainsboro;
}

.contactImage{
    width: 150px;
    height: 150px;
    word-wrap: normal;
}

.contactName{
    font-weight: bold;
}