.contacts{
    float: left;
    width: 300px;
    min-height: fit-content;
    background-color: gainsboro;
    overflow-y: auto;
    overflow-x: hidden;
}

.messaging{
    display: flex;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-bottom: 5px;
}

.texts{
    width: 100%;
}

.contactHeader{
    height: 55px;
    width: 100%;
    display: block;
    clear: both;
}

.rightContent{
    width: 100%;
    display: block;
    position: relative;
}

.sendMessageForm{
    width: 100%;
    position: absolute; 
    bottom: 0;
}