.contacts{
    float: left;
    width: 300px;
    min-height: fit-content;
    background-color: gainsboro;
    overflow-y: auto;
    overflow-x: hidden;
}

.messaging{
    display: flex;
    width: 100%;
    height: 91.5vh;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-bottom: 0px;
}

.texts{
    width: 100%;
    height: 77vh;
    overflow-y: scroll;
}

.contactHeader{
    width: 100%;
    display: block;
    clear: both;
    height: 3vh;
}

.rightContent{
    width: 100%;
    display: block;
    position: relative;
}

.sendMessageForm{
    width: 100%;
    height: 2vh;
}