.contacts{
    float: left;
    width: 300px;
}

.messaging{
    display: flex;
    width: 100%;
}

.texts{
    width: 100%;
}

.contactHeader{
    height: 100px;
    width: 100%;
    display: block;
    clear: both;
}

.rightContent{
    width: 100%;
}