.searchBox{
    width: fit-content;
    height: fit-content;
    background-color: antiquewhite;
    margin: 20px;
    padding: 10px;
}
.searchTitle{
    background-color: azure;
    text-align: center;
    width: 100%;
}

.boxes{
    padding: 10px;
}

.searchButton{
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
}

.garamond{
    font-family: Georgia, 'Times New Roman', Times, serif;
}