.searchBox{
    width: fit-content;
    background-color: antiquewhite;
    margin: 20px;
    padding: 10px;
}
.searchTitle{
    background-color: azure;
    text-align: center;
    width: 100%;
}

.boxes{
    padding: 10px;
}
.garamond{
    font-family: Georgia, 'Times New Roman', Times, serif;
}