.searchBox{
    width: fit-content;
}
.searchTitle{
    background-color: brown;
    text-align: center;
    width: 100%;
}

.boxes{
    margin: auto;

}
.garamond{
    font-family: Georgia, 'Times New Roman', Times, serif;
}