.profileBox{
    margin: 20px;
    width: 400px;
    height: 150px;
    display: flex;
}
.profilePic{
    width: 100px;
    height: 100px;
    float: left;
}

.profileName{
    padding: 10px;
    size: 15px;
}

.profileDescription{
    padding: 10px;
    size: 15px;

}
