.homeIcon{
    margin-left: 20%;
    transform: scale(2);
    padding: 10px;
}

.settingsIcon{
    position: absolute;
    right:0px;
    margin-right: 20%;
    transform: scale(2);
    padding: 10px;

}

.topBar{
    background-color: antiquewhite;
    padding: 5px;
}
