.dashboard{
    display: flex;
    background-color: linen;
    height: 100%;
}

.dashboardLeftColumn{
    flex: 0 0 30%;
    text-align: center;
    align-items: center;
    margin-top: 30px;
}

.dashboardRightColumn{
    flex-grow: 1; 
}

.newsBox{
    background-color:#F6C4A3;
    padding: 10px;
    width: 300px;
    margin: auto;
    margin-top: 30px;
    box-shadow: 2px 2px 8px grey;
    border-radius: 5px;

}
.newsCard{
    background-color: #F9B32F;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    font-size: x-small;
    transition: background-color 200ms;
}
.newsCard:hover{
    background-color: #ff9f43;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    font-size: x-small;
    cursor: pointer;
}
.video{
    width: 500px;
    height: 300px;
    margin-right: 10px;
    padding-right: 10px;
}
.newsCardLink{
    color: black; 
    text-decoration: 'none';
}
h2{
    margin: 5px;
    padding: 5px;
}
.gray{
    margin: 20px;
    color: #2B2C2D;
    padding: 5px;
}
.videoOfTheDayTitle{
    margin: 20px;
    padding: 5px;
    text-align: center;
    font-size: 150%;
    display: inline-block;
}
.videoOfTheDay{
    text-align: center;
}
#newsTitle{
    font-size: larger;
    margin: 5px;
    padding: 5px;
}


