.settingsBlock{
    background-color: #D6DEDE;
    text-align: center;

    align-items: center;
    border-radius: 10px;
    padding: 50px;
    width: fit-content;
    box-shadow: 10px 10px 8px #888888;
    margin: 0 auto;
    font-size: large;
}

.settingsContainer{
    text-align: left;

    align-items: left;
    border-radius: 10px;
    width: 70vh;
    margin: 0 auto;
    font-size: large;
}

.settingsPage{
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 50px;
    background-color: #F1FAEE;
}

.inputContainer {
    margin-top: 5px;
    display:flex; 
    flex-direction:row;
}

.updatebuttonContainer {
    margin-left: 20px;
    margin-top: 10%;
}

