.userProfile{
    background-color: aliceblue;
    padding: 5px;
    text-align: center;
    height: 100%;
}

.recruiterProfile{
    background-color: antiquewhite;
    padding: 5px;
    text-align: center;
    height: 100%;
}

.profilePicture{
    display: inline-block;
    position: relative;
    border: 1px black solid;
    width: 270px;
    height: 270px;
    overflow: hidden;
    border-radius: 50%;
}
.profilePicture img{
    width: auto;
    height: 100%;
    margin-left: -30px;
    margin-top: 30px;
    transform: scale(1.5);
}
.profilePictureName{
    
    display: inline-block;
    padding: 10px;

    margin: 10px;
    margin-bottom:  0px;

    border-radius: 10px;
}

.profilePictureName .profileName{
    padding: 5px;

    margin: 5px;
    margin-top: -5px;
    font-size: xx-large;
}

.profileInfo{
    margin-top: 10px;

    padding-top: 10px;
    padding-bottom: 0px;
    display: inline-block;
    

}

.profileCard{
    background-color: white;
    border-radius: 2px;
    width: 80vw;
    padding: 30px;
    border: 1px black solid;
    margin: auto;
    box-shadow: 2px 2px 8px #888888;
}

.contactDetails{
    display: inline-block;
    margin: 10px;
    font-size: large;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 10px;
    border: 1px gray solid;

}
.contact{
    margin: 10px;
    padding: 8px;
    border-radius: 10px;
    width: fit-content;
    background-color: white;
    border: 1px white solid;


}

.contactLight{
    margin: 10px;
    padding: 8px;
    border-radius: 10px;
    width: fit-content;
    cursor: pointer;
    background-color: lavender;
    border: 1px white solid;
}

.personalInfo{
    margin: 10px;
    font-size: large;
    height: 50%;
    text-align: left;
}
.detailsTitle{
    font-weight: bold;
    margin-bottom: 10px;
}

.achievements{

    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 8fr 5fr;
    margin: auto;

    
}

.profileBio{
    color: black;
    padding: 10px;
    background-color: aliceblue;
    border: 1px black solid;
    border-radius: 5px;
    max-width: 55vw;
    text-align: center;
    margin: auto;
    font-size: large;
}


.profileCareer{
    background-color: white;
    margin: 10px;
    width: 30vw;
    padding: 10px;
    color: black;
    border: 1px      solid;
    border-radius: 10px;
    box-shadow: 2px 2px 8px #888888;
}


.accomplishmentCard{
    margin: 10px;
    padding: 10px;
    font-size: large;
    background-color: white;
    border: 1px gray solid; 
    border-radius: 5px;

}

.experience{
    background-color: white;

    margin: 10px;
    display: inline-block;
    padding: 20px;
    border-radius: 5px;
    border: 1px black solid;
    box-shadow: 2px 2px 8px #888888;
}

.experienceCard{
    padding: 10px;
    margin: 10px;
    border-top: 1px gray solid; 
}


.profileRightColumn{
    display: inline-block;
    margin: 10px;
    width: 40vw;
    height: auto;
    
}

.profileImages{
    background-color: white;
    border: 1px black solid;
    width: 31vw;
    height: 15vw;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 8px #888888;
    position: relative;
}

.oneImage{
    border-radius: 5px;
    margin-top: 5%;
}
.leftarrow{

    background-color: white;
    border-radius: 10px;
    vertical-align: middle;
    float: left;
    display: flex;
    height: 100%;
    position: absolute;

}

.leftarrowLight{

    background-color: antiquewhite  ;
    border-radius: 10px;
    vertical-align: middle;
    float: left;
    display: flex;
    height: 100%;
    position: absolute;
    cursor: pointer;

}
.arrow{
    vertical-align: middle;
    position: relative;
    top: 40%;
    transform: scale(1.5);
}
.rightarrow{

    background-color: white;
    border-radius: 10px;
    right: 0px;
    top: 0px;
    float: right;
    height: 100%;   
    display: flex;
    position: absolute;
    
}

.rightarrowLight{
    background-color: antiquewhite;
    border-radius: 10px;
    right: 0px;
    top: 0px;
    float: right;
    height: 100%;   
    display: flex;
    position: absolute;
    cursor: pointer;
    
}
