/* width */
::-webkit-scrollbar {
    width: 12px;
  }
  
/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey;
border-radius: 5px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
background: darkcyan;
border-radius: 5px;
}