/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey;
border-radius: 10px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
background: darkcyan;
border-radius: 10px;
}