.personalProfileBox{
    background-color: #d6d6d6;
    margin: auto;
    padding: 30px;
    width: fit-content;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px 8px #888888;
    text-decoration: none;
}

a {
    text-decoration: none;
}
.personalPic{
    display: inline-block;
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
}

.personalPic img{   
    width: auto;
    height: 100%;
    margin-left: -20px;
    margin-top: 30px;
    transform: scale(1.5);
}

.personalProfileName{
    font-size: x-large;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 170px;
}
.button{
    margin: 10px;
    padding: 10px;
    background-color: aliceblue;
    width: fit-content;
    height: fit-content;
    text-align: center;
    font-size: x-large;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 10px;

}

.buttonLight{
    margin: 10px;
    padding: 10px;
    background-color: #D6DEDE;
    width: fit-content;
    height: fit-content;
    text-align: center;
    font-size: x-large;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 10px;

}

.buttons{
    display: inline-block;
    align-items: center;
    
}

.personalProfileBox p{
    font-size: small;
    color: #E93541;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}