.profileBox{
    margin: 20px;
    width: 380px;
    height: 90px;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: white;
    box-shadow: 2px 2px 8px #888888;
    border-radius: 5px;
    float: left;

}
.profilePic{
    display: inline-block;
    position: relative;
    width: 90px;
    height: 90px;
    overflow: hidden;
    border-radius: 50%;

}
.profilePic img{
    width: auto;
    height: 100%;
    margin-left: -15px;
    margin-top: 10px;
    transform: scale(1.4);
}

.singleProfileSubBox{
    display: inline-block;
    vertical-align: top;
}

.profileBoxName{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    font-size: x-large;
    width: fit-content;
    border-radius: 10px;
    
}

.profileDescription{

    padding: 5px;
    width: 250px;
    margin: 5px;
    font-size: small;
    color: gray
    ;

}
