.adminDashboard{
    width: 96vw;    
    height: 100vh;
    display: flex;
}

.adminLeftColumn{
    flex: 0 0 20%;

    box-shadow: 2px 2px 8px #888888;
    height: 100vh;
    background-color: aliceblue;
    padding-left: 20px;
    padding-top: 20px;
}
.searchResultTitle{
   margin: 10px;
   font-size: x-large;
}

.adminRightColumn{
    flex-grow: 0.5;
    margin-left: 50px;

}
 .choice{
    background-color: antiquewhite;
    margin: 10px;
    border-radius: 3px;
    box-shadow: 2px 2px 8px goldenrod;
    width: fit-content;
 }
.locations{
    margin: 20px;
}
 .locations .choice{
    background-color: darkcyan;
    padding-left: 10px;
    margin: 5px;
    border-radius: 3px;
    box-shadow: 2px 2px 8px goldenrod;
 }
 .organizations{
    margin: 20px;
}
 .organizations .choice{
    background-color: antiquewhite;
    padding-left: 10px;
    margin: 5px;
    border-radius: 3px;
    box-shadow: 2px 2px 8px goldenrod;
 }

 .sports{
    margin: 20px;
}
 .sports .choice{
    background-color: indianred;
    padding-left: 10px;
    margin: 5px;
    border-radius: 3px;
    box-shadow: 2px 2px 8px goldenrod;
 }

 .adminSearchBar{
    text-align: center;
    border: 2px black solid;
    height: 100%;
    width: 50%;
 
 }
 
 .logout{
   padding-top: 45vh;
}

.exitIcon{
   transform: scale(1.3);
   vertical-align: middle;
}

.exitIconLight{
   transform: scale(1.3);
   cursor: pointer;
   color: aliceblue;
   vertical-align: middle;
}