.adminDashboard{
    width: 96vw;    
    height: 100vh;
    display: flex;
}

.adminLeftColumn{
    flex: 0 0 20%;

    box-shadow: 2px 2px 8px #888888;
    height: 100vh;
    background-color: antiquewhite;
    padding-left: 20px;
    padding-top: 20px;
}
.searchResultTitle{
   margin: 10px;
   font-size: x-large;
}

.adminRightColumn{
    flex-grow: 0.5;
    margin-left: 50px;
    

}

.adminSearchBox{
   display:flex; 
   flex-direction:row;
   background-color: antiquewhite;
   border-radius: 5px;
   margin-top: 30px;
   height: auto;
   width: 60%;
   padding: 10px;
  
   box-shadow: 2px 2px 8px #888888;
}

.searchButtonContainer {
   margin-left: 15px;
   padding: 30px;
}

 .choice{
    background-color: antiquewhite;
    margin: 10px;
    border-radius: 3px;
    box-shadow: 2px 2px 8px goldenrod;
    width: fit-content;
 }
.locations{
    margin: 20px;
}
 .locations .choice{
    background-color: darkcyan;
    padding-left: 10px;
    margin: 5px;
    border-radius: 3px;
    box-shadow: 2px 2px 8px goldenrod;
 }
 .organizations{
    margin: 20px;
}
 .organizations .choice{
    background-color: antiquewhite;
    padding-left: 10px;
    margin: 5px;
    border-radius: 3px;
    box-shadow: 2px 2px 8px goldenrod;
 }

 .sports{
    margin: 20px;
}
 .sports .choice{
    background-color: indianred;
    padding-left: 10px;
    margin: 5px;
    border-radius: 3px;
    box-shadow: 2px 2px 8px goldenrod;
 }

 .MuiFormControl-root.MuiTextField-root.adminSearchBar{
    background-color: antiquewhite;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    height: auto;
    width: 50%;
    padding: 10px;
    
 }

 .MuiFormControl-root.MuiTextField-root.adminSearchBar label{
   padding: 10px;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-contained.searchButton{
   width: 50px;
   height: 20px;
   font-size: 10px;
}
 
 .logout{
   padding-top: 40vh;
}

.exitIcon{
   transform: scale(1.3);
   vertical-align: middle;
}

.exitIconLight{
   transform: scale(1.3);
   cursor: pointer;
   color: aliceblue;
   vertical-align: middle;
}

.MuiRadio-colorSecondary.Mui-checked{
   color: black;
}