
.adminBox{
    display: flex;
    margin: 40px;
    height: 120px;
    width: fit-content;
    margin-left: 0px;
    margin-right: auto;
    background-color: aliceblue;
    border-radius: 2px;
    box-shadow: 2px 2px 8px #888888;
    cursor: pointer;
}
.adminProfileBox{
    width: 500px;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;

    display: inline-block;
    display: flex;
}

.adminSubBox{
    display: inline-block;
    margin-top: 0px;
    padding-top: 0px;
}

.adminProfileName{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    font-size: x-large;
    width: fit-content;
    border-radius: 10px;
}

.adminProfileDescription{
    padding: 5px;
    width: 350px;
    margin: 5px;
    max-height: 20px;
    padding-left: 10px;
    text-align: left;
    font-size: medium;
    color: gray;
    overflow: hidden;
}


.adminActions{
    height: 120px;
    padding: 20px;
    padding-left: 20px;
    padding-right: 30px;
    overflow-y: hidden;
    display: inline-block;
}

.adminSuspendButton{
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
    background-color: white;
    float: left;
    color: cadetblue;
    font-size: large;
    box-shadow: 2px 2px 8px #888888;
}
.adminRemoveButton{
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
    background-color: white;
    color: red;
    float: left;
    font-size: large;
    box-shadow: 2px 2px 8px #888888;
}
.adminEditButton{
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
    background-color: white;
    float: left;
    font-size: large;
    box-shadow: 2px 2px 8px #888888;
}

.adminSuspendButtonLight{
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
    background-color: lightgray;
    float: left;
    color: cadetblue;
    font-size: large;
    box-shadow: 2px 2px 8px #888888;
    cursor: pointer;
}
.adminRemoveButtonLight{
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
    background-color: lightgray;
    color: red;
    float: left;
    font-size: large;
    box-shadow: 2px 2px 8px #888888;
    cursor: pointer;
}
.adminEditButtonLight{
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
    background-color: lightgray;
    float: left;
    font-size: large;
    box-shadow: 2px 2px 8px #888888;
    cursor: pointer;   
}
