.filterBox{
    height: fit-content;
    background-color:white;
    border-radius: 2px;
    margin: 20px;
    padding: 10px;
    text-align: center;
    width: 60vw;
    box-shadow: 2px 2px 8px #888888;
}


.table{
    text-align: justify;
    display: flex;
    justify-content: space-around;
    margin-left: 10vw;
    margin-right: 10vw;
}
.boxes{
    padding: 10px;
    vertical-align: auto;

}

.searchButton{
    margin-left: 20px;
    margin-top: 20px;
    transform: scale(1.6);
    background-color: burlywood;
    border-radius: 10px;
    padding: 3px;
}

