.filterBox{
    height: fit-content;
    background-color:antiquewhite;
    border-radius: 2px;
    margin: 20px;
    padding: 10px;
    text-align: center;
    width: 60vw;
    box-shadow: 2px 2px 8px #888888;
}


.table{
    margin: auto;
    width: fit-content;
}

.eachFilter{
    display: flex;
    
}
.filterboxes{
    padding: 10px;
    vertical-align: auto;

}

.searchButton{
    transform: scale(1.4);
    background-color: antiquewhite;
    vertical-align: middle ;
    margin-left: 10px;
    border-radius: 50%;
    padding: 3px;
}

.searchButtonLight{
    transform: scale(1.4);
    background-color: lightgray;
    vertical-align: middle;
    margin-left: 10px;
    border-radius: 50%;
    padding: 3px;
}

.locationDropdown{

}


.preferences .preference{
    background-color: antiquewhite;
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
    box-shadow: 2px 2px 8px goldenrod;
}
