.athleteSearchBox{
    height: fit-content;
    background-color: antiquewhite;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    text-align: center;
    width: 60vw;
}

.adminSearchBox{
    height: fit-content;
    background-color: antiquewhite;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    text-align: center;
    width: 50vw;
    margin-left: 25vw;
}
.searchTitle{
    background-color: azure;
    text-align: center;
    width: 45vw;
    padding: 10px;
    font-size: large;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    border-radius: 10px;
}

.table{
    text-align: justify;
    display: flex;
    justify-content: space-around;
    margin-left: 10vw;
    margin-right: 10vw;
}
.boxes{
    padding: 10px;
    vertical-align: auto;

}

.searchButton{
    margin-left: 20px;
    margin-top: 20px;
    transform: scale(1.6);
    background-color: burlywood;
    border-radius: 10px;
    padding: 3px;
}

