.topBar{
    background-color: antiquewhite;
    padding: 5px;
    height: 50px;
    width: 100vw;
    margin: auto;  
    border: 1px black solid;
}

li{
    display: inline;
    margin-left: 10%;
}

.homeIcon{
    transform: scale(2);
    margin-left: 30%;
}

.homeIconLight{
    transform: scale(2);
    cursor: pointer;
    color: aliceblue;
    margin-left: 30%;
}


.settingsIcon{
    transform: scale(2);
}

.settingsIconLight{
    transform: scale(2);
    cursor: pointer;
    color: aliceblue;
}


.userIcon{
    transform: scale(2);
    text-align: center;
}
.userIconLight{
    cursor: pointer;
    transform: scale(2);
    color: aliceblue;
}