.topBar{
    background-color: antiquewhite;
    padding: 5px;
    height: 50px;
    margin: auto;  
    border: 1px black solid;
    box-shadow: 2px 2px 8px #888888;
}
.searchTitle{
    background-color: azure;
    text-align: center;
    width: 35vw;
    font-size: normal;
    align-items: center;
    border-radius: 5px;
}

ul{
    padding: 5px;

    
}

li{
    display: inline;
    margin-left: 10%;
    height: fit-content;
}

.homeIcon{
    transform: scale(1.4);
    vertical-align: middle;

}

.homeIcon:hover{
    transform: scale(1.4);
    cursor: pointer;
    color: aliceblue;
    vertical-align: middle;
}


.settingsIcon{
    transform: scale(1.5);
    vertical-align: middle;
}

.settingsIcon:hover{
    transform: scale(1.4);
    cursor: pointer;
    color: aliceblue;
    vertical-align: middle;
}


.userIcon{
    transform: scale(1.4);
    text-align: center;
    vertical-align: middle;
}
.userIcon:hover{
    cursor: pointer;
    transform: scale(1.4);
    color: aliceblue;
    vertical-align: middle;
}

.messageIcon{
    transform: scale(1.3);
    vertical-align: middle;
}

.messageIcon:hover{
    transform: scale(1.3);
    cursor: pointer;
    color: aliceblue;
    vertical-align: middle;
}

.searchIcon{
    transform: scale(1.3);
    vertical-align: middle;
}

.searchIcon:hover{
    transform: scale(1.3);
    cursor: pointer;
    color: aliceblue;
    vertical-align: middle;
}

.exitIcon{
    transform: scale(1.3);
    vertical-align: middle;
}

.exitIcon:hover{
    transform: scale(1.3);
    cursor: pointer;
    color: aliceblue;
    vertical-align: middle;
}